*

!/main.go
!/go.mod
!/go.sum
!/.gitignore
!/cmd
!/cmd/*
!/LICENSE

!/.claude-plugin
!/.claude-plugin/marketplace.json
!/.claude-plugin/plugin.json

!/skills
!/skills/pinner
!/skills/pinner/SKILL.md
