*

!/main.go
!/go.mod
!/go.sum
!/.gitignore
!/cmd
!/cmd/*
!/LICENSE
!/README.md

!/.claude-plugin
!/.claude-plugin/marketplace.json
!/.claude-plugin/plugin.json

!/hooks
!/hooks/hooks.json
!/hooks/inject-pins.sh
